.parent-container{
  display: flex;
  gap:20px;
  height: 180px;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 40px;
  
}



.section{
  display: flex;
  flex-direction: column;
  gap:10px;
  height: 100%;

}



.card{
  padding:16px 6px;
  background-color:#39617d ;
  color:white;
  width:fit-content;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  font-size: larger;

}

